In [1]:
import pandas as pd
df = pd.read_csv("prices.csv")

In [2]:
df.head()

   Obs   Company      Item Description      Month   Year   Price
0    1         1   Yellow Tennis Shoes    January   2020     120
1    2         1          Tennis Shoes   February   2020     130
2    3         1      Red Tennis Shoes   February   2020      50
3    4         2   Golf Clubs (Putter)    January   2020      80
4    5         2                Putter   February   2020      90

In [3]:
company = pd.read_csv("companies.csv")