This part of the interview is about discussing how you approach data analysis. Below we describe some sample data which could be used to construct price indexes. Our goal is to construct a dataset that contains how the price of *unique* items has changed over time. We have the following concerns
   * We don't want prices to change because of changes in items (e.g. a new model of iPhone)
   * We want the price changes we use to be representative
We don't expect you to have all the answers. We just want to discuss what sorts of things come to your mind and how you approach this problem. Let us know what you are thinking and what steps you would take.

In [3]:
import pandas as pd
# These data are export transactions. They contain a description of the item, month of export, price, 
# and the id of the exporting company
df = pd.read_csv("prices.csv")

In [4]:
df.head(n=10)

   Company      Item Description      Month   Year   Price
0        1   Yellow Tennis Shoes    January   2020     120
1        2          Tennis Shoes   February   2020     130
2        1      Red Tennis Shoes   February   2020      50
3        3   Golf Clubs (Putter)    January   2020      80
4        3                Putter   February   2020      90
5        4   Gala Apples (Dozen)    January   2020       5
6        4     Gala Apples (lbs)   February   2020       2

How could we construct items to track over time from these data? How would you process the various fields? Which observations would you consider combining into an item?

## Adding Company Data

Suppose we also have information on the companies that are exporting, including their age, employment, and industry. How could we use this to improve the quality of our data?

In [5]:
company = pd.read_csv("companies.csv")

In [6]:
company.head(n=10)

   employment   age                      industry
0         500    30            Shoe Manufacturing
1         100    15            Shoe Manufacturing
2         300    15            Shoe Manufacturing
3          80     2   Golf Supplies Manufacturing
4          20    10   Golf Supplies Manufacturing
5           5     4   Golf Supplies Manufacturing
6           2     1                    Restaurant
7           3     4                    Restaurant
8           2    11                    Restaurant
9           1    10                    Restaurant

In [7]:
df.merge(company, left_on='Company', right_index=True)

,Company,Item Description,Month,Year,Price,employment,age,industry
0,1,Yellow Tennis Shoes,January,2020,120,100,15,Shoe Manufacturing
2,1,Red Tennis Shoes,February,2020,50,100,15,Shoe Manufacturing
1,2,Tennis Shoes,February,2020,130,300,15,Shoe Manufacturing
3,3,Golf Clubs (Putter),January,2020,80,80,2,Golf Supplies Manufacturing
4,3,Putter,February,2020,90,80,2,Golf Supplies Manufacturing
5,4,Gala Apples (Dozen),January,2020,5,20,10,Golf Supplies Manufacturing
6,4,Gala Apples (lbs),February,2020,2,20,10,Golf Supplies Manufacturing

## Adding Item Descriptions

Now suppose we also have more information on the item being traded via a text field. How could we parse and use this information to improve the index?

In [8]:
descriptions = pd.read_csv("descriptions.csv")
descriptions.head(n=10)

                                         Description
0              Tennis Shoes 154897854321 ATL EXP CHN
1              Tennis Shoes 154897854321 ATL EXP CHN
2                   Red Rubber Tennis Shoes  EXP CHN
3                                  Golf accessories
4       Golf accessories over $100 lot number 789087
5  Fairview Farm This shipment contains no extra ...
6  Fairview Farm This shipment contains no extra ...

In [9]:
df.merge(descriptions, left_index=True, right_index=True)

,Company,Item Description,Month,Year,Price,Description
0,1,Yellow Tennis Shoes,January,2020,120,Tennis Shoes 154897854321 ATL EXP CHN
1,2,Tennis Shoes,February,2020,130,Tennis Shoes 154897854321 ATL EXP CHN
2,1,Red Tennis Shoes,February,2020,50,Red Rubber Tennis Shoes EXP CHN
3,3,Golf Clubs (Putter),January,2020,80,Golf accessories
4,3,Putter,February,2020,90,Golf accessories over $100 lot number 789087
5,4,Gala Apples (Dozen),January,2020,5,Fairview Farm This shipment contains no extra ...
6,4,Gala Apples (lbs),February,2020,2,Fairview Farm This shipment contains no extra ...